*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --font-family: 'Dosis', sans-serif;

  --color-1: #333;
  --color-2: #fff;
  --color-3: #57647c;
  --color-4: #ff4800;
  --color-5: #313e5b;
  --color-6: #495771;
  --color-7: #4a6f8a;
  --color-8: #ffb708;
  --color-9: #aba5a5;
  --color-10: #212529;
  --color-11: #000;

  --bg-color-1: #fff;
  --bg-color-2: #15171a;
  --bg-color-3: #000;
  --bg-color-4: #ff4800;
  --bg-color-5: #f2f6f9;
  --bg-color-6: #0062cc;
  --bg-color-7: #4ac728;
  --bg-color-8: #ffb708;
  --bg-color-9: #f4faff;
  --bg-color-10: #fafafa;
  --bg-color-11: #333;
  --bg-color-12: #ffffff1a;
  --bg-modal-color: rgba(0, 0, 0, 0.9);

  --box-shadow-1: 0 0 25px 3px rgb(0 0 0 / 4%);
  --box-shadow-2: 0 0 40px 3px rgb(0 0 0 / 5%);
  --box-shadow-3: 0 10px 30px rgb(0 0 0 / 7%);
  --box-shadow-4: 0 5px 28.5px 1.5px rgb(149 152 200 / 50%);
  --box-shadow-5: 0 1rem 1rem rgb(0 0 0 / 18%);

  --bg-color-linear-gradient-1: linear-gradient(to left bottom, #dee4f3, #e7eaf6, #f0f1f9, #f8f8fc, #fff);
  --bg-color-linear-gradient-2: linear-gradient(90deg, #dee4f3, #e7eaf6, #f0f1f9, #f8f8fc, #fff);
  --bg-color-linear-gradient-3: linear-gradient(to right top, #a3a3a3, #9a9a9a, #909090, #878787, #7e7e7e);
  --bg-color-linear-gradient-4: linear-gradient(to left bottom, #f8f9fd, #fafafd, #fcfcfe, #fdfdfe, #fff);

  --border-color: #005cbf;
  --border-radius-1: 5px;
  --border-radius-2: 30px;
  --border-radius-3: 50%;
  --border-radius-4: 70% 30% 30% 70%/60% 40% 60% 40%;

}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #333;
  font-family: var(--font-family);
}

.text {
  font-size: 15px;
  color: var(--color-3);
  line-height: 1.8;
}

.btn-1 {
  position: relative;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;

  display: inline-block;
  padding: 10px 32px 12px;
  border-radius: var(--border-radius-2);

  color: var(--color-2);
  background-color: var(--bg-color-4);

  transition: .5s;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  z-index: 1;
  opacity: 1;
  border: none;
}

.btn-1:hover {
  color: var(--color-2);
  background-color: var(--bg-color-7);
}



/* HEADEAR PART  */

#header-hero {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}

#header-hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  background-image: url('../images/hero2-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

#header-hero::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  background: rgba(0, 0, 0, 0.575);
  z-index: -1;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 500ms ease 0s;
  padding: 15px 0px;
  z-index: 500;
}

.header__inner {
  height: 58px;
}

.header__logo-link {
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-image: url('https://strend-vue.envytheme.com/_nuxt/img/white-logo.75b255a.png');
}

.nav ul {
  list-style-type: none;
}

.nav__item {
  position: relative;
}

.nav__item:not(:nth-child(7)) {
  padding: 0 9px;
}

.nav__link {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  color: var(--color-2);

  padding: 15px 0;

  text-decoration: none;
  transition: all 0.2s ease;
}

.nav__link .bx {
  position: relative;
  font-size: 27px;
}

.nav__link:hover {
  color: var(--color-2);
  transition: all 0.2s ease;
}

.nav__link-shop {
  margin-right: 5px;
}

.header__btns {
  padding-top: 5px;
  margin-left: 20px;
}

.basket-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-2);
}

.zero {
  position: absolute;
  top: -50%;
  left: 50%;

  font-size: 12px;
  width: 17px;
  height: 17px;

  color: var(--color-2);
  background-color: var(--color-4);
  border-radius: var(--border-radius-3);
}

.search-btn {
  background-color: transparent;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-2);
}

.bx-search {
  font-weight: bold;
}

.demo-btn {
  background-color: var(--bg-color-1);
  color: var(--color-4);
  margin-left: 15px;
}

.demo-btn:hover {
  color: var(--color-2);
  background-color: var(--bg-color-4);
}

.home__dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: var(--bg-color-1);
  padding: 26px 20px;
  width: 250px;
  color: var(--color-10);
  display: none;
}

.home__item:not(:last-child) {
  margin-bottom: 18px;
}

.home__link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-1);
}

.home__item:hover .home__link {
  color: var(--color-4);
}

.home__item--active .home__link {
  color: var(--color-4);
}

.home:hover .home__dropdown {
  display: block;
  box-shadow: var(--box-shadow-3);
  animation: dropdown 0.5s ease;
}

@keyframes dropdown {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.pages__dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 250px;

  padding: 26px 20px;
  color: var(--color-10);
  background-color: var(--bg-color-1);
  box-shadow: var(--box-shadow-3);

  display: none;
}

.pages__item:not(:last-child) {
  margin-bottom: 18px;
}

.pages__item {
  width: 100%;
}

.pages__link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-1);
}

.pages__item:hover .pages__link {
  color: var(--color-4);
}

.pages__item .bx {
  font-size: 26px;
}

.pages__item:hover .bx {
  color: var(--color-4);
}

.pages:hover .pages__dropdown {
  display: block;
  animation: dropdown 0.5s ease;
}

.blog__dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: var(--bg-color-1);
  padding: 26px 20px;
  width: 250px;
  box-shadow: var(--box-shadow-3);
  color: var(--color-10);
  display: none;
}

.blog__item:not(:last-child) {
  margin-bottom: 18px;
}

.blog__link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-1);
}

.blog__item:hover .blog__link {
  color: var(--color-4);
}

.blog:hover .blog__dropdown {
  display: block;
  animation: dropdown 0.5s ease;
}




/* HERO PART  */

.about__inner {
  position: relative;
  height: 430px;
}

.about__title {
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.about__items {
  position: absolute;
  top: 60%;
  left: 0;
  margin-top: 15px;
}

.about__link {
  display: inline-block;
  color: var(--color-4);
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.about__link .bx {
  font-size: 25px;
  position: absolute;
  color: var(--color-2);
}

.about__tit {
  display: inline-block;
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  margin-left: 15px;
}


/* MAIN PART  */

.main {
  flex-grow: 1;
}





/* FOOTER PART  */

.footer {
  overflow: hidden;
}

.footer__inner {
  position: relative;
  padding: 100px 0;
  background-color: #15171a;
  background-image: url('../images/footer-bg-img.png');
  background-repeat: no-repeat;
  background-size: 400px 292px cover;
  background-position: 78% 90px;
}

.footer__logolink {
  display: block;
  margin-bottom: 15px;
}

.footer__box {
  position: relative;
  width: 290px;
  margin-right: 1px solid;
}

.style-none {
  list-style-type: none;
}

.footer__text {
  font-size: 15px;
  color: var(--color-2);
  width: 300px;
  margin-bottom: 18px;
  line-height: 1.8;
}

.footer__socialitem {
  width: 35px;
  height: 35px;
  background-color: var(--color-1);
  border-radius: 50%;
  align-items: center;
  text-align: center;
  padding: 8px;
  transition: all 0.4s ease;
}

.footer__socialitem:hover {
  background-color: var(--color-4);
}

.footer__socialitem:not(:last-child) {
  margin-right: 10px;
}

.footer__socialitem a {
  text-decoration: none;
}

.bxl-facebook,
.bxl-twitter,
.bxl-instagram,
.bxl-youtube {
  font-size: 18px;
  color: var(--color-2);
  display: block;
  align-items: center;
}

.style-none {
  list-style-type: none;
}

.footer__items-title {
  margin-bottom: 23px;
  color: var(--color-2);
  position: relative;
  padding-bottom: 6px;
  font-size: 23px;
  font-weight: 700;
  font-family: var(--font-family);
  text-transform: capitalize;
}

.footer__items-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: var(--bg-color-4);
}

.footer__item:not(:nth-child(6)) {
  margin-bottom: 12px;
}

.footer__item a {
  text-decoration: none;
  color: var(--color-2);
  font-size: 14px;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

.footer__copyright {
  position: relative;
  z-index: 20;
  background-color: var(--bg-color-3);
  padding: 20px 0;
}

.footer__item a:hover {
  color: var(--color-4);
}

.footer__items {
  margin-bottom: 6px;
}

.footer__items-tit {
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
}

.footer__items-link {
  text-decoration: none;
  display: inline-block;
  color: var(--color-2);
  font-size: 14px;
  margin-left: 5px;
  transition: all 0.2s ease;
}

.footer__items-link:hover {
  color: var(--color-4);
  transition: all 0.2s ease;
}

.copy-link {
  color: var(--color-2);
  font-size: 15px;
  text-decoration: none;
}

.copy-link:hover {
  color: var(--color-4);
}

.copy-box a:nth-child(1) {
  margin-right: 5px;
}

.copy-box a:nth-child(2) {
  margin-left: 5px;
}

.copy-box p {
  color: var(--color-2);
}

.copy-text {
  margin-right: 5px;
  color: var(--color-2);
  font-size: 15px;
  line-height: 1.8;
}

.footer__img {
  position: absolute;
  top: 20%;
  right: 18%;
  z-index: 1;
}

.footer__anim-list {
  list-style-type: none;
}

.footer__anim:nth-child(1) {
  position: absolute;
  top: 0;
  left: 28%;
  height: 100%;
  width: 1px;
  background-color: var(--bg-color-12);
  z-index: 10;
}

.footer__anim:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50.3%;
  height: 100%;
  width: 1px;
  background-color: var(--bg-color-12);
  z-index: 10;
}

.footer__anim:nth-child(3) {
  position: absolute;
  top: 0;
  left: 72.5%;
  height: 100%;
  width: 1px;
  background-color: var(--bg-color-12);
  z-index: 10;
}

.footer__anim:nth-child(1)::before {
  content: '';
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: -120px;
  left: 28%;
  width: 1px;
  height: 120px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 6%, rgba(21, 23, 26, 0) 79%);
  animation: foot-anim 3.5s 5s ease-in-out infinite;
  z-index: 10;
}

.footer__anim:nth-child(2)::before {
  content: '';
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: -120px;
  left: 50.5%;
  width: 1px;
  height: 120px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 6%, rgba(21, 23, 26, 0) 79%);
  animation: foot-anim 3.5s 3.5s ease-in-out infinite;
  z-index: 10;
}

.footer__anim:nth-child(3)::before {
  content: '';
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: -120px;
  left: 70.5%;
  width: 1px;
  height: 120px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 6%, rgba(21, 23, 26, 0) 79%);
  animation: foot-anim 3.5s 5.5s ease-in-out infinite;
  z-index: 10;
}

@keyframes foot-anim {
  100% {
    transform: translate(0, 500px);
  }
}


/* MODAL PART  */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-modal-color);

  z-index: 600;
  display: none;
}

.modal-x {
  border: none;
}

.modal-x::before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  right: 40px;
  background-image: url('../images/x-regular.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  transition: all 0.5s ease;
  border: none;
}

.modal-x:hover::before {
  transform: rotate(180deg);
  background-image: url('../images/minus-regular.png');
  transition: all 0.5s ease;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 60px;
  margin: auto;
  background: var(--bg-color-1);
  border-radius: var(--border-radius-2)
}

.modal-input {
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 30px;
  color: var(c);
  padding: 3px 0 0 25px;
  outline: none;

  color: var(--color-11);
  font-size: 15px;
}

.modal-input::placeholder {
  color: var(--color-11);
}

.modal__search {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;

  color: var(--color-2);
  background-color: var(--color-4);
  border-radius: var(--border-radius-3);

  transition: .5s;
  border: none;

  font-size: 24px;
  line-height: 45px;
  padding-top: 2px;
  padding-left: 1px;

  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal__search:hover {
  background-color: var(--bg-color-11);
  color: var(--color-2);
  transition: all 0.2s ease;
}

.show {
  display: block;
}


.btn-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 42px;

  font-size: 25px;

  color: var(--color-2);
  background: var(--bg-color-4);

  text-align: center;
  transition: .2s;

  border: none;
  cursor: pointer;
  z-index: 400;
  display: none;
  overflow: hidden;
}

.btn-top .bx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .4s;
}

.btn-top:hover .bx {
  top: -10px;
  transition: .4s;
}

.btn-top:hover {
  background: var(--bg-color-7);
  transition: .2s;
}

.toTOP {
  display: block;
}


.pagessolution{
  padding: 110px 0 80px 0;
}
.solutions-section{
  background-color:#f2f6f9 ;
}
.pagessolution__div{
  margin-bottom: 60px;
}
.pagessolution__title{
  font-family: 'Dosis', sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
.pagessolution__text{
  font-family: 'Open Sans', sans-serif;
  color: #57647c;
  font-size: 15px;
  max-width: 520px;
  text-align: center;
  margin: 10px auto 0;
}

.finance{
  color: #0062cc;
  font-size: 20px;
}


.pagessolution__list{
  width: 100%;
  height: 607px;
  display: grid;
  padding: 0;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
}
.pagessolution__item{
  position: relative;
  padding: 30px 25px;
  background-color: var(--color-2);
  transition: all 0.5s ease;
}
.pagessolution__item::before{
  content: '';
  display: inline-block;
  height: 4px;
  width: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-4);
  transition: 0.5s;
}
.pagessolution__item:hover::before{
  width: 100%;
}
.pagessolution__item:hover{
  transition: all 0.5s ease;
  transform: translateY(-10px);
}
.pagesgrid__title{
  font-family: var(--font-family);
  margin: 0;
  font-size: 23px;
  color: #333;
  transition: all 0.3s ease;
}
.pagesgrid__title:hover{
  color: var(--color-4);
  transition: all 0.3s ease;
}
.pagesgrid__text{
  font-family: 'Open Sans', sans-serif;
  color: var(--color-3);
  font-size: 15px;
  margin: 12px 0 0 0;
  line-height: 1.8;
}


.bxs-bar-chart-alt-2{
  padding: 17px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #ffe4d9;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--color-4);
}
.pagesgrid:hover .bxs-bar-chart-alt-2{
  color: var(--color-2);
  background-color: var(--color-4);
}
.icon-umbrella{
  padding: 17px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #ffe4d9;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--color-4);
}
.pagesgrid:hover .icon-umbrella{
  color: var(--color-2);
  background-color: var(--color-4);
}
.icon-lock{
  padding: 17px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #ffe4d9;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--color-4);
}
.pagesgrid:hover .icon-lock{
  color:var(--color-2);
  background-color: var(--color-4);
}
.bx-network-chart{
  padding: 17px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #ffe4d9;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--color-4);
}
.pagesgrid:hover .bx-network-chart{
  color: var(--color-2);
  background-color: var(--color-4);
}
.icon-stats{
  padding: 17px;
  border-radius: 5px;
  transition: 0.5s;
  background-color: #ffe4d9;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--color-4);
}
.pagesgrid:hover .icon-stats{
  color: var(--color-2);
  background-color: var(--color-4);
}